@{
                /**/

                ViewBag.Title = "Página Principal";
}

<p>
    <br />
    <br />
    <br />
    <br />
    Este Programa Da Mantenimiento a dos Tablas una para Clientes y Productos, manejando imagenas en ambos casos. Tarea 5-3
    
</p>
